<div id="hamburger_menu" class="hamburger-menu slide-in slide-in-dir-right ">
  <div id="navigation" class="nav-close">
    <h3>Shop Brands</h3>
    <ul class="col-md-12 nav">
      <li>
        <a href="#">Outfitters</a>
      </li>
      <li>
        <a href="#">Factory</a>
      </li>
    </ul>
    <ul class="col-md-12 nav">
      <li>
        <a href="#">
          Find a Store
        </a>
      </li>
      <li>
        <a href="#">
          Gift Cards
        </a>
      </li>
      <li>
        <a href="#">
          Credit
        </a>
      </li>
    </ul>
    <ul class="col-md-12 nav">
      <li>
        <a href="#">
          My Account
        </a>
      </li>
      <li>
        <a href="#">
          Track Orders
        </a>
      </li>
      <li>
        <a href="#">
          Favorites
        </a>
      </li>
      <li>
        <a href="#">
          Rewards
        </a>
      </li>
    </ul>
    <ul class="col-md-12 nav">
      <li>
        <a href="#">
          International Settings
        </a>
      </li>
      <li>
        <a href="#">
          Help
        </a>
      </li>
      <li>
        <a href="#">
          Contact Us
        </a>
      </li>
      <li>
        <a href="#">
          Feedback
        </a>
      </li>
    </ul>
  </div>
</div>