<nav class="navbar navbar-inverse">
    <div class="container">
        <div id="navbar_header" class="navbar-header">
            <div id="hamburger_link_wrapper"></div>
            <a class="home-page glyphicon glyphicon-home" href="/"></a>
        </div>
    </div>
</nav>