<a href="/catalog/men" class="btn-home">
    <button type="button" class="btn btn-primaty btn-lg btn-block">MEN</button>
</a>
<a href="/catalog/women" class="btn-home">
    <button type="button" class="btn btn-primaty btn-lg btn-block">WOMEN</button>    
</a>
<a href="/catalog/aerie" class="btn-home">
    <button type="button" class="btn btn-primaty btn-lg btn-block">AERIE</button>
</a>
<a href="/catalog/shoes" class="btn-home">
    <button type="button" class="btn btn-primaty btn-lg btn-block">SHOES</button>
</a>
<a href="/catalog/clearance" class="btn-home">
    <button type="button" class="btn btn-primaty btn-lg btn-block">CLEARANCE</button>    
</a>
<a href="/catalog/factory" class="btn-home">
    <button type="button" class="btn btn-primaty btn-lg btn-block">FACTORY</button>
</a>