<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="hamburger-link glyphicon glyphicon-align-justify" href="#" {{action "toggleHamburgerMenu"}}></a>
            <a class="home-page glyphicon glyphicon-home" href="/"></a>
        </div>
    </div>
</nav>
